{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Welcome to Time[less] Travel!
        Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3 offset-md-3">
      {% for field in form %}
      <div class="mb-3">
        {% if field.errors %}
        <div class="text-danger">
          {% for error in field.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
      <form class="signup d-inline-flex col-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="p-xs-2 mb-1 align-items-center">
          <label for="id_first_name">First Name</label>
          {{ form.first_name }}
        </div>
        <div class="p-xs-2 mb-1 align-items-center">
          <label for="id_last_name">Last Name</label>
          {{ form.last_name }}
        </div>
        <div class="p-xs-2 mb-1 align-items-center">
          <label for="id_username">Username</label>
          {{ form.username }}
          <small class="help-text">Choose a unique username</small>
        </div>
        <div class="p-xs-2 mb-1 align-items-center">
          <label for="id_email">Email</label>
          {{ form.email }}
          <small class="help-text">Enter your email address</small>
        </div>
        <div class="p-xs-2 mb-1 align-items-center">
          <label for="id_password1">Password</label>
          {{ form.password1 }}
          <small class="help-text">Choose a strong password</small>
          <button type="button" class="toggle-popover" data-bs-toggle="popover" title="Password Requirements"
            data-bs-trigger="hover" data-bs-content="&#9900 Your password can't be too similar to your other personal information
            &#9900 Your password must contain at least 8 characters
            &#9900 Your password can't be a commonly used password
            &#9900 Your password can't be entirely numeric">?</button>
        </div>
        <div class="p-xs-2 mb-1 align-items-center">
          <label for="id_password2">Confirm Password</label>
          {{ form.password2 }}
          <small class="help-text">Confirm your password</small>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button id="sign-up" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/sign-up-popover.js' %}"></script>
{% endblock content %}