{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>Checklists</h1>
<a href="{% url 'checklist_create' %}">Create New Checklist</a>
<ul>
    {% for checklist in checklists %}
        <li>
            <a href="{% url 'checklist_update' checklist.id %}">{{ checklist.title }}</a>
            - {{ checklist.description }}
            <form action="{% url 'checklist_delete' checklist.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}