{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h1 class="mt-3 p-1 page-title">{{ checklist.title }}</h1>
    <h4 class="">{{ checklist.description }}</h4>
</div>
<hr>
<div>
    <h2 class="my-3 p-2">Tasks</h2>
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item d-flex justify-content-between align-items-start text-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ task.task }}</div>
                <p>{% if task.completed %}Completed{% else %}Pending{% endif %}</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-sm {% if task.completed %}btn-green{% else %}btn-red{% endif %} toggle-task me-1"
                    data-task-id="{{ task.id }}" data-url="{% url 'toggle_task_completion' task.id %}">
                    {% if task.completed %}Completed{% else %}Pending{% endif %}
                </button>
            </form>
            <button class="btn btn-sm btn-orange me-1"><a href="{% url 'task_update' task.id %}">Edit</a></button>
        </li>
        {% empty %}
        <p>No tasks available.</p>
        {% endfor %}
    </ul>
</div>
<div class="">
    {% if checklist.id %}
    <button class="btn btn-green"><a href="{% url 'task_create' checklist.id %}">Add Task</a></button>
    {% endif %}
    <button class="btn btn-orange"><a href="{% url 'checklist_update' checklist.id %}">Update</a></button>
    <form action="{% url 'checklist_delete' checklist.id %}" method="get">
        {% csrf_token %}
        <button class="btn btn-red" type="submit">Delete</button>
    </form>
</div>
<button class="mb-5 btn"><a href="{% url 'profile' %}">Back to Profile</a></button>

<script src="{% static 'js/toggle-task-completion.js' %}"></script>
{% endblock %}