{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="page-title my-3 p-2">Edit Task</h1>
<form class="m-5 p-3 fw-bold d-flex flex-column justify-content-center align-items-center" method="post">

    {% csrf_token %}
    {{ form | crispy }}

    <div>
        <button class="btn btn-green mb-5 mt-0" type="submit">Save</button>
        <button class="mb-5 mt-0 btn btn-orange"><a href="{% url 'checklist' checklist.id %}">Cancel</a></button>
    </div>
</form>
<form action="{% url 'task_delete' task.id %}" method="get">

    {% csrf_token %}

    <button class="btn btn-red mb-5 mt-0" type="submit">Delete</button>
</form>

{% endblock %}