* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/* Navbar */
.navbar {
    background-color: #C2EBE6;
}

.nav-link, i {
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #333839;
}

/* Main */
main {
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
}

/* Homepage */
.intro-title, .tagline {
    font-family: 'Playwrite AU SA', 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: whitesmoke;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.intro-text {
    color: whitesmoke;
    font-family: 'Playwrite AU SA', 'Times New Roman', Times, serif;
    line-height: 38px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 75%;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
}

#hero-section {
    background: url(../images/hero-image.webp) #C2EBE6 no-repeat center;
    background-size: cover;
    height: 60%;
}

.btn {
    background-color: #C2EBE6;
    color: #1c565f;
    border: 1px solid #333839;
    border-radius: 10px;
    margin-top: 50px;
    width: 120px;
    align-self: center;
}

#hero-section img {
    width: 100%;
    height: 70%;
    opacity: 0.7;
}

/* Login and Register Page */

#signup_form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#sign-in, #sign-up {
    background-color: #C2EBE6;
    color: #333839;
    border: 1px solid #333839;
    border-radius: 10px;
    width: 80px;
    align-self: center;
}

/* Footer */
.dark-bg {
    background-color: #C2EBE6;
}

.footer {
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
}