{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile">
    <h1>Welcome, {{ profile.user.first_name }}</h1>
    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
    {% endif %}
    <p>Bio: {{ profile.bio }}</p>
    <button><a class="{% if request.path == edit_profile_url %}" aria-current="page{% endif %}"
        href="{% url 'edit_profile' %}">Edit Profile</a></button>
</div>
<div class="container">
    <div class="row m-4 justify-content-center flex-md-nowrap">
        <div class="col-12 col-md-6 m-3 p-2">
            <div class="checklist">
                <h2>Travel Checklists</h2>
                <p>Quite commonly in web applications, you need to display a one-time notification message (also
                    known
                    as “flash
                    message”) to the user after processing a form or some other types of user input.

                    For this, Django provides full support for cookie- and session-based messaging, for both
                    anonymous
                    and
                    authenticated users. The messages framework allows you to temporarily store messages in one
                    request
                    and
                    retrieve
                    them for display in a subsequent request (usually the next one). Every message is tagged
                    with a
                    specific
                    level
                    that determines its priority (e.g., info, warning, or error).</p>
            </div>
        </div>
        <div class="col-12 col-md-6 m-3 p-2">
            <div class="posts">
                <h2>My Posts</h2>
                <p>Quite commonly in web applications, you need to display a one-time notification message (also
                    known
                    as “flash
                    message”) to the user after processing a form or some other types of user input.

                    For this, Django provides full support for cookie- and session-based messaging, for both
                    anonymous
                    and
                    authenticated users. The messages framework allows you to temporarily store messages in one
                    request
                    and
                    retrieve
                    them for display in a subsequent request (usually the next one). Every message is tagged
                    with a
                    specific
                    level
                    that determines its priority (e.g., info, warning, or error).</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}