{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-3">Welcome, {{ profile.user.first_name }}</h1>
    <div class="row m-4 justify-content-center flex-md-nowrap">
        <div class="col-12 col-md-6 m-3 p-2">
            <div class="profile">

                {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}'s profile picture"
                    class="img-fluid rounded-circle">
                {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="Default profile picture"
                    class="img-fluid rounded-circle">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 m-3 p-2">
            <div class="bio">
                <p>Bio: {{ profile.bio }}</p>
                <button class="btn"><a class="{% if request.path == edit_profile_url %}" aria-current="page{% endif %}"
                        href="{% url 'edit_profile' %}">Edit Profile</a></button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row m-4 justify-content-center flex-md-nowrap">
        <div class="col-12 col-md-6 m-3 p-2">
            <div class="checklist">
                <h2>Travel Checklists</h2>
                <div>
                    {% if not checklists %}
                    <p>Ooops! No checklists here... click below to create one &#128515;</p>
                    {% else %}
                    <ul class="list-group">
                        {% for checklist in checklists %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a class="checklist-title" href="{% url 'checklist' checklist.id %}">{{ checklist.title }}</a></div>
                                <p class="text-start">{{ checklist.description }}</p>
                              </div>
                              <span class="badge btn-green rounded-pill">14</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button class="btn btn-green"><a class="{% if request.path == checklist_create_url %}"
                            aria-current="page{% endif %}" href="{% url 'checklist_create' %}">Create
                            Checklist</a></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 m-3 p-2">
            <div class="posts">
                <h2>My Posts</h2>

            </div>
        </div>
    </div>
</div>
{% endblock %}