{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user == blogpost.author %}

<form action="{% url 'delete_post' blogpost.slug %}" method="get">

    {% csrf_token %}

    <button class="btn btn-sm btn-red mt-3 me-3 float-end" type="submit">Delete</button>
</form>

{% endif %}

<button class="btn btn-sm d-flex justify-content-center ms-3 mt-3"><a href="{{ request.GET.next }}">&laquo; Go
        Back</a></button>
<h1 class="my-4 p-1 page-title post-title">{{ blogpost.title }}</h1>

<p class="my-2 p-1 page-heading post-subtitle">{{ blogpost.author }} | {{ blogpost.created_at }}</p>
<hr>

{% if "placeholder" in blogpost.featured_image.url %}

<br>

{% else %}

<img src=" {{ blogpost.featured_image.url }}" alt="{{ post.title }}" class="img-fluid image-post">

{% endif %}

<article class="card-text m-2 p-2 m-lg-5 p-lg-5 text-start">

    {{ blogpost.content | safe }}

</article>

{% if user == blogpost.author %}

<button class="btn btn-sm btn-orange mt-0 mb-5">
    <a href="{% url 'edit_post' blogpost.slug %}?next={{ request.path }}">Edit Post</a>
</button>

{% endif %}

{% if user.is_authenticated %}

<hr>
<h3>Leave a Comment</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex flex-column float-md-start mt-5">
            {% if comments %}
            {% for comment in comments %}

            <div class="comment-section mb-3">
                <strong>{{ comment.user }}</strong>
                <p id="comment-{{ comment.id }}" data-comment-id="{{ comment.id }}">{{ comment.content }}</p>
                <small>{{ comment.created_at|date:"d M Y, H:i" }}</small>
                {% if user.is_authenticated and comment.user == user %}
                <div class="row justify-content-center align-items-start">
                    <button class="btn btn-sm btn-red mt-1 me-1 mb-5 delete-btn" data-comment-id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-sm btn-orange mt-1 mb-5 edit-btn" data-comment-id="{{ comment.id }}">Edit</button>
                </div>
                {% endif %}
            </div>

            {% endfor %}

            {% else %}

            <p>No comments yet. Be the first to comment!</p>

            {% endif %}
        </div>
        <div class="col-md-6 d-flex flex-column float-md-end">
            <form method="post" id="comment-form">

                {% csrf_token %}
                {{ form | crispy }}

                <button id="submit-btn" type="submit" class="btn btn-sm btn-green mb-5 mt-0">Post Comment</button>
            </form>
        </div>
    </div>
</div>
{% else %}

<p>Log in to leave a comment</p>

{% endif %}

<!-- Delete confirmation modal - Code borrowed from the Codestar walkthrough project -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                <p style="color: red;">Warning: This action is irreversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-red
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}