{% extends 'base.html' %}
{% load static %}

{% block content %}

<button class="btn btn-sm d-flex justify-content-center ms-3 mt-3"><a href="{{ request.GET.next }}">&laquo; Go Back</a></button>
<h1 class="my-4 p-1 page-title post-title">{{ blogpost.title }}</h1>

<p class="my-2 p-1 page-heading post-subtitle">{{ blogpost.author }} | {{ blogpost.created_at }}</p>
<hr>

{% if blogpost.featured_image.url %}

<img src=" {{ blogpost.featured_image.url }}" alt="{{ blogpost.title }}" class="img-fluid image-post">

{% else %}

<br>

{% endif %}

<article class="card-text m-2 p-2 m-lg-5 p-lg-5 text-start">

    {{ blogpost.content | safe }}

</article>

{% if user == blogpost.author %}
    <button class="btn btn-sm btn-orange">
        <a href="{% url 'edit_post' blogpost.slug %}?next={{ request.path }}">Edit Post</a>
    </button>
{% endif %}


{% if user.is_authenticated %}

<div class="comment-section mb-5">
    <p>Be the first to leave a comment!</p>
    <button class="btn btn-sm btn-green mt-0 mb-5">Submit</button>
    <textarea name="comments" id="comments"></textarea>
</div>

{% else %}

<p>Log in to leave a comment</p>

{% endif %}

{% endblock %}