{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid d-flex p-0 m-0" id="hero-section">
    <div class="row align-items-center w-100 p-0 m-0">
        <div class="col-12 p-0 m-0 position-relative">
            <h1 class="intro-title mx-auto">Time[less] Travel</h1>
            <h2 class="tagline mx-auto">Timeless Memories, Effortless Plans</h2>
            <h5 class="mx-auto intro-text">
                Welcome to Time[less] Travel, where we transform the way you plan and experience your dream
                holidays.
                Our mission is to make travel planning effortless and enjoyable, providing you with the tools to
                organize
                your trips seamlessly and share your adventures with a vibrant community. Let's make your travel
                dreams a
                reality!
            </h5>
            <button class="btn mx-auto">Get Started</button>
        </div>
    </div>
</section>
<hr class="invisible">
<section class="container-fluid my-5" id="review-section">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-5">Reviews</h2>
        </div>
        <div class="col-12 col-md-4 p-2">
            <div class="card review">
                <div class="card-body">
                    <p class="blockquote">"Time[less] Travel made our dream vacation a reality! Planning was
                        effortless, and the interactive maps were incredibly helpful. I can't recommend it enough!"</p>
                    <p class="blockquote-footer">- Sarah L.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-2">
            <div class="card review">
                <div class="card-body">
                    <p class="blockquote">"This platform transformed how we organize trips. The checklists and
                        community blog posts were life-savers. Five stars for this travel companion!"</p>
                    <p class="blockquote-footer">- Mike D.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-2">
            <div class="card review">
                <div class="card-body">
                    <p class="blockquote">"From planning to execution, Time[less] Travel has it all. Sharing our
                        experiences was just as fun as the trip itself!"</p>
                    <p class="blockquote-footer">- Emily R.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}