/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/* Navbar */
.navbar {
    background-color: #C2EBE6;
}

.nav-link, i {
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #333839;
}

/* Main */
main {
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
}

.login-status {
    background-color: #A08DB9;
}

.page-title {
    font-family: 'Playwrite AU SA', 'Times New Roman', Times, serif;
}

/* Homepage */
.intro-title, .tagline {
    font-family: 'Playwrite AU SA', 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: whitesmoke;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.intro-text {
    color: whitesmoke;
    font-family: 'Playwrite AU SA', 'Times New Roman', Times, serif;
    line-height: 38px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 75%;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
}

#hero-section {
    background: url(../images/hero-image.webp) #C2EBE6 no-repeat center;
    background-size: cover;
    height: 60%;
}

.btn {
    background-color: #C2EBE6;
    color: #333839;
    border: 1px solid #333839;
    border-radius: 10px;
    margin-top: 50px;
    width: auto;
    align-self: center;
}

.btn:hover {
    background-color: #2c99aa;
    color: whitesmoke;
}

.btn a:hover {
    color: whitesmoke;
}

.hide-button {
    display: none;
}

#review-section {
    margin-top: 20px;
    padding-bottom: 60px;
}

.card-body {
    border: 2px solid #A08DB9;
    border-radius: 5px;
    color: #333839;
    text-decoration: underline #A08DB9;
}

.card-body .blockquote-footer {
    margin-top: 5px;
    font-size: 120%;
}

/* Profile Page */

.bio {
    position: relative;
    top: 30px;
    height: auto;
}

.btn a {
    text-decoration: none;
    color: #333839;
}

.checklist, .posts {
    height: 100%;
    padding: 15px;
    border: 2px #64C431 solid;
    border-radius: 15px;
}

.btn-green {
    background-color: #64C431;
    color: whitesmoke;
}

.btn-green a, .btn-red, .btn-orange a {
    color: whitesmoke;
}

.btn-green:hover {
    background-color: #468a21;
}

.btn-red {
    background-color: #cf065a;
}

.btn-red:hover {
    background-color: #810539;
    color: whitesmoke;
}

.btn-orange {
    background-color: #eb8808;
}

.btn-orange:hover {
    background-color: #ac6305;
}

.checklist-title {
    text-decoration: none;
    color: #333839;
}

.checklist-title:hover {
    color:#A08DB9;
}

.page-item.active .page-link {
    background-color:#A08DB9;
    border-color: #A08DB9;
}

/* Tasks Page */

hr {
    border: 2px solid #A08DB9;
}

.progress {
    margin-top: 20px;
}

.progress-bar {
    width: 1%;
    background-color: #64C431;
}

/* Blog Posts Page */

.page-heading {
    font-size: 100%;
}

.post-link, .page-link {
    color: #333839;
    text-decoration-style: double;
}

.post-link:hover, .page-link:hover {
    color: #A08DB9;
}

/* Login and Register Page */

#signup_form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 60px;
}

#sign-in, #sign-up {
    background-color: #C2EBE6;
    color: #333839;
    border: 1px solid #333839;
    border-radius: 10px;
    width: 80px;
    align-self: center;
}

.toggle-popover {
    background-color: #A08DB9;
    color: #333839;
    border: 1px solid #333839;
    border-radius: 8px;
    width: 20px;
    align-self: center;
}

/* Footer */
.dark-bg {
    background-color: #C2EBE6;
}

.footer {
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
}

/* Media queries */
@media screen and (min-width: 840px) {
    .intro-title, .tagline {
        font-size: 2rem;
    }
}

@media screen and (min-width: 576px) {
    .image-post {
        max-width: 45%;
    }
}